*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: inherit;
}

body{
    display: flex;
    justify-content: center;
    /* font-family: agbalumo, sans-serif; */
    font-weight: 200;
    font-family: 'Playpen Sans', cursive;
}

#title-app{
    position: absolute;
    top: 50px;
}

.colored-text{
    color: orange;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    position: relative;
    padding: 10px;
    max-width: 700px;

}

#title{
    margin-bottom: 50px;
    font-size: 22px;
    z-index: 999;
}

#colored-text{
    color: orange;
}


.fa-rectangle-xmark{
    position: absolute;
    top: -30px;
    right: -10px;
    font-size: 25px;

}


.block-main{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 55px ;
    flex-wrap: wrap;
    gap: 5px;
}

.photo-meal{
    width: 100%;
    border-radius: 10px 10px 0 0
}

.description{
    background-color: orange;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: -6px;
    font-weight: 500;
    border-radius: 0 0 10px 10px;
}

.name-meal{
    font-size: 13px;
    width: 206px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: white;
    padding: 5px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
}

.navbar-elements a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
}

a:is(:link, :active, :visited).active{
    color: orange;
  }
.block-meal{
    margin-bottom: 40px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 11px 1px;
    border-radius: 10px;
}

.heart-meal{
    font-size: 20px;
    color: red;
}


@media (max-width: 660px) {
    .block-meal{
        max-width: 300px;
        width: 48%;
    }
    
}

@media (min-width: 660px) {

    .wrapper{
        margin-top: 200px;
    }
    .block-meal{
        width: 30%;
    }
    #title{
        font-size: 25px;
    }
    .navbar{
    position: absolute;
    justify-content: right;
    right: 0;
    top: 30px;
    height: fit-content;
    box-shadow: inherit;
    width: fit-content;
    padding: 0;
    margin: 0 30px;
    }
    .navbar-elements{
        margin: 50px 50px 0 0
    }
    #title-app{
        position: absolute;
        top: 76px;
        left: 50px;
        font-size: 40px;
    }
}

/* @media (min-width: 900px) {
    .block-meal{
        width: 30%;
    }
} */