*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: inherit;
    list-style: none;
}

body{
    display: flex;
    justify-content: center;
    /* font-family: agbalumo, sans-serif; */
    font-weight: 200;
    font-family: 'Playpen Sans', cursive;
}

#wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 500px;

}

.block-photo{
    /* margin-top: -120px; */
}

.img-meal{
    width: 100%;
}

.block-name-heart{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: 500;
    margin-top: -76px;
    margin-bottom: 10px;
    position: relative;
    background-color: white;
}

.heart-meal{
    font-size: 30px;
    color: lightgray;
}

.active{
    color: red;
}

.location{
    font-weight: 400;
    background-color: orange;
    padding: 5px;
    display: inline-block;
    margin-bottom: 60px;
    margin-left: 20px;
}

main{
    margin-right: auto;
    padding: 20px;
}

.block-ingredients{
    margin-bottom: 20px;
}

.ingredients{
    margin-bottom: 30px;
    margin-top: 20px;

}

.ingredients-el{
    font-weight: 400;
    
}

.measure-el{
    margin-right: auto;
    font-weight: 300;
}

.block-instructions{
    margin-bottom: 80px;
}

.instructions{
    margin-top: 20px;
    font-weight: 400;
    max-height: 25px;
    overflow: hidden;
}

.see-instructions{
    max-height: inherit;
}

#see-more{
font-family: roboto;
background-color: orange;
cursor: pointer;
padding-inline: 5px;
opacity: 0.8;
}

.navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: white;
    padding: 5px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
}

.navbar-elements a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
}