*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: inherit;
    list-style: none;
}

body{
    display: flex;
    justify-content: center;
    /* font-family: agbalumo, sans-serif; */
    font-weight: 200;
    font-family: 'Playpen Sans', cursive;
}

#wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 500px;

}

.block-photo{
   position: relative;
}

.block-play{
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* cursor: pointer; */
    z-index: 999;
}

#meal-name-youtube{
    position: absolute;
    padding: 5px;
    color: white;
    z-index: 999;
    font-weight: 500;
    font-size: 13px;
}

.block-play i{
    color: red;
    font-size: 50px;
    background-color: black;
    padding-inline: 5px;
    border-radius: 5px;
   
}

#overlay{
    background-color: #000;
    height: 100%;
    mix-blend-mode: darken;
    opacity: .3;
    position: absolute;
    width: 100%;
}


.img-meal{
    width: 100%;
}

.block-name-heart{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: 500;
    margin-top: -71px;
    margin-bottom: 10px;
    position: relative;
    background-color: white;
}

.heart-meal{
    font-size: 30px;
    color: lightgray;
}

.active{
    color: red;
}

.location{
    font-weight: 400;
    background-color: orange;
    padding: 5px;
    display: inline-block;
    margin-bottom: 60px;
    margin-left: 20px;
}

main{
    margin-right: auto;
    padding: 20px;
}

.block-ingredients{
    margin-bottom: 20px;
}

.ingredients{
    margin-bottom: 30px;
    margin-top: 20px;

}

.ingredients-el{
    font-weight: 400;
    
}

.measure-el{
    margin-right: auto;
    font-weight: 300;
}

.block-instructions{
    margin-bottom: 80px;
}

.instructions{
    margin-top: 20px;
    font-weight: 400;
    max-height: 25px;
    overflow: hidden;
}

.see-instructions{
    max-height: inherit;
}

#see-more{
font-family: roboto;
font-size: 13px;
background-color: orange;
cursor: pointer;
padding-inline: 5px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: white;
    padding: 5px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
}

.navbar-elements a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
}

.colored-text{
    color: orange;
}

#title-app{
    position: absolute;
}


@media (min-width: 700px) {

    #title-app{
        /* position: absolute; */
        top: 76px;
        left: 50px;
        font-size: 40px;
    }

    #wrapper{
        margin-top: 200px;
    }

    #title-app{
        margin-right: auto;
        font-size: 40px;
    }

    header{
        margin-top: 76px;
    }
    .block-meal{
        width: 30%;
        margin: 5px;
    }
    .navbar{
        position: absolute;
        top: 30px;
        width: fit-content;
        height: fit-content;
        right: 30px;
        box-shadow: inherit;
        padding: 0;
    }
    .navbar-elements{
        margin: 50px;
        margin: 50px 50px 0px 0;
    }
}